header {
    position: relative;
    width: 100%;
    height: 100px;
}

.logo {
    display: inline-block;
    position: absolute;
    left: 0px;
    bottom: 0px;
}

.menu {
    position: absolute;
    right: 0px;
    bottom: 15px;
    padding: 15px;
    border-radius: 5px;
    font-family: Georgia;
    background: #ca3f3f;
}

.menu a {
    display: inline-block;
    text-decoration: none;
    padding-left: 15px;
    padding-right: 15px;
    color: white;
}

.menu a:hover {
    color: #8b8383;
}